@model LikesViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_DatingLayout";
    int likerId = int.Parse(ViewBag.UserId);

}

<head>
    <title>View Likes</title>
    <link rel="stylesheet" href="~/css/imageOverlay.css" />
    <!-- Bootstrap Icons library -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

    <style>
        /* Your CSS styles */
        body {
            background-color: lightpink;
        }

        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-bottom: 20px;
            background-color: #FFDAB9;
        }


        .img {
            width: 300px;
            height: 300px;
            display: block;
            margin: 0 auto;
        }

        .double-border-liked-by-user {
            border-width: 3px;
            border-style: double;
            border-color: #686868;
            padding: 10px;
            margin-bottom: 20px;
            transition: all 0.3s ease-in-out;
        }

        .double-border-liked-by-others {
            border-width: 3px;
            border-style: double;
            border-color: #ff0000;
            padding: 10px;
            margin-bottom: 20px;
            transition: all 0.3s ease-in-out;
        }

            .double-border-liked-by-user:hover, .double-border-liked-by-others:hover {
                transform: scale(1.03); /* Slightly raise the element on hover for an interactive effect */
                box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
            }
    </style>
</head>

<h2>People Who Like You <i class="bi bi-suit-heart-fill"></i></h2>

<div class="container">
    @foreach (AuthenicationModel userProfile in Model.ProfilesThatLikeUser)
    {
        <div class="row double-border-liked-by-others rounded">
            <div class="col-md-12">
                <div class="row no-gutters">
                    <!-- Image Column -->
                    <div class="col-md-6">
                        <img src="@userProfile.Profile.PhotoUrl" class="img-fluid img" alt="No Image">
                    </div>
                    <!-- Information Column -->
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">@userProfile.User.Name</h5>
                            <p class="card-text">@userProfile.Profile.Description</p>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li><i class="bi bi-geo-alt"></i> @userProfile.Profile.City, @userProfile.Profile.State</li>
                                <li><i class="bi bi-calendar"></i> Age: @userProfile.Profile.Age</li>
                                <li><i class="bi bi-heart"></i> Looking for: @userProfile.Profile.Commitment</li>
                                <li><i class="bi bi-globe"></i> Dream Destinations: @userProfile.Profile.DreamDestinations</li>

                            </ul>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <!-- Like back button -->
                                    <form asp-controller="Likes" asp-action="LikeUser" method="Post">
                                        <input type="hidden" name="likerId" value="@likerId" />
                                        <input type="hidden" name="likeId" value="@userProfile.User.Id" />
                                        <button class="btn btn-sm btn-outline-danger" name="btnLike" type="submit">
                                            Like Back <i class="bi bi-heart"></i>
                                        </button>
                                    </form>
                                    <!-- View Profile button -->
                                    <form asp-controller="Profile" asp-action="ViewProfile" method="get">
                                        <input type="hidden" name="likerId" value="@likerId" />
                                        <input type="hidden" name="profileId" value="@userProfile.User.Id" />
                                        <button class="btn btn-sm btn-outline-secondary ml-2" name="btnViewProfile" type="submit" value="@userProfile.User.Id">
                                            View Profile
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<h2>People You Like <i class="bi bi-send"></i></h2>

<div class="container">
    @foreach (AuthenicationModel userProfile in Model.ProfilesLikedByUser)
    {
        <div class="row double-border-liked-by-user rounded">
            <div class="col-md-12">
                <div class="row no-gutters">
                    <!-- Image Column -->
                    <div class="col-md-6">
                        <img src="@userProfile.Profile.PhotoUrl" class="img-fluid img" alt="No Image">
                    </div>
                    <!-- Information Column -->
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">@userProfile.User.Name</h5>
                            <p class="card-text">@userProfile.Profile.Description</p>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li><i class="bi bi-geo-alt"></i> @userProfile.Profile.City, @userProfile.Profile.State</li>
                                <li><i class="bi bi-calendar"></i> Age: @userProfile.Profile.Age</li>
                                <li><i class="bi bi-heart"></i> Looking for: @userProfile.Profile.Commitment</li>
                            </ul>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <form asp-controller="Likes" asp-action="UnlikeUser" method="DELETE">
                                        <input type="hidden" name="likerId" value="@likerId" />
                                        <input type="hidden" name="likeId" value="@userProfile.User.Id" />
                                        <button class="btn btn-sm btn-outline-danger" name="btnLike" type="submit">
                                            Unlike <i class="bi bi-hand-thumbs-down"></i>
                                        </button>
                                    </form>
                                    <form asp-controller="Profile" asp-action="ViewProfile" method="get">
                                        <input type="hidden" name="profileId" value="@userProfile.User.Id" />
                                        <button class="btn btn-sm btn-outline-secondary ml-2" name="btnViewProfile" type="submit" value="@userProfile.User.Id">
                                            View Profile
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


